@charset "utf-8";

@media screen and (min-width: 820px) and (max-width: 978px){
    body, html{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    main{
        position: relative;
        height: 100vh;
        width: 100vw;
        text-align: center;
    }
    
    article{
        position: absolute;
        background-color: white;
        height: 450px;
        width: 570px;
        box-sizing: border-box;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.616);
    }
    
    section#img{
        background: url(../imagens/architecture-1314416_640.jpg) no-repeat right right;
        background-size: cover;
        height: 100%;
        width: 35%;
        float: left;
    }

    section#form{
        float: right;
        height: 100%;
        width: 60%;
        padding-top: 5%;
    }
    
    section#form h1{
        font: bold normal 3em 'Georgia';
        padding: 20px 0px;
    }
    
    section#form p{
        font-size: 1.2em;
        padding: 10px 0px;
    }
    
    section#form p.cadastro{
        padding: 5px 0px;
    }
    
    section#form p#email{
        padding-top: 13px;
    }
    
    input#iemail{
        width: 19em;
        height: 3.2em;
        border-radius: 15px;
        border: 2px solid black;
    }
    input#isenha{
        width: 19em;
        height: 3.2em;
        border-radius: 15px;
        border: 2px solid black;
    }
    input#ienvio{
        width: 19em;
        height: 3.2em;
        margin-top: 15px;
        background-color: black;
        color: white;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0);
    }
    
    input#ienvio:hover{
        background-color: #5f2c82;
        width: 20em;
        height: 3.3em;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.658);
        transition: background-color 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s;
    
    } 
}

@media screen and (min-width: 978px){

    body, html{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    main{
        position: relative;
        height: 100vh;
        width: 100vw;
        text-align: center;
    }
    
    article{
        position: absolute;
        background-color: white;
        height: 550px;
        width: 850px;
        box-sizing: border-box;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.616);
    }
    
    section#img{
        background: url(../imagens/architecture-1314416_640.jpg) no-repeat top right;
        background-size: cover;
        height: 100%;
        width: 40%;
        float: right;
    }

    section#form{
        float: left;
        height: 100%;
        width: 60%;
        padding-top: 5%;
    }
    
    section#form h1{
        font: bold normal 4em 'Georgia';
        padding: 20px 0px;
    }
    
    section#form p{
        font-weight: 300;
        font-size: 1.5em;
        padding: 15px 0px;
    }
    
    section#form p.cadastro{
        padding: 5px 0px;
    }
    
    section#form p#email{
        padding-top: 13px;
    }
    
    input#iemail{
        width: 23em;
        height: 3.8em;
        border-radius: 15px;
        border: 2px solid black;
    }
    input#isenha{
        width: 23em;
        height: 3.8em;
        border-radius: 15px;
        border: 2px solid black;
    }
    input#ienvio{
        width: 23em;
        height: 3.8em;
        margin-top: 15px;
        background-color: black;
        color: white;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0);
    }
    
    input#ienvio:hover{
        background-color: #5f2c82;
        width: 25em;
        height: 4em;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.658);
        transition: background-color 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s;
    
    } 

}